{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de Usuarios</h1>

    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Pass</th>
                <th>Empresa</th>
                <th style="text-align:center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.pass }}</td>
                <td>{{ usuario.empresa }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('usuario_show', { 'id': usuario.id }) }}">Mostrar</a>
                    <a class="btn btn-danger" href="{{ path('usuario_edit', { 'id': usuario.id }) }}">Editar</a>
                     
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a class="btn btn-success" href="{{ path('usuario_new') }}">Crear un nuevo usuario</a>
        <a class="btn btn-default" href="{{ path('index') }}">Volver</a>
   </div>
{% endblock %}
